* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Karla, Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.app {
  margin: 50px auto;
  width: 60%;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 10px;
  z-index: 2;
  backdrop-filter: blur(2rem);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 10px 10px 0 0;
}
.header--title {
  font-size: 42px;
  color: #658ec6;
}
.github {
  display: flex;
  align-items: center;
}
.github--image {
  width: 24px;
  height: auto;
  margin-right: 10px;
}
.github--link {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  color: #658ec6;
}

main {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.form {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 40px 50px;
  column-gap: 30px;
  row-gap: 35px;
}

.form--button {
  grid-column: 1 / -1;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #658ec6;
  font-size: 20px;
  font-weight: 500;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.35s;
  text-transform: capitalize;
}

button span {
  position: relative;
  z-index: 2;
}

button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all 0.35s;
  border-radius: 5px;
}

button:hover {
  color: #658ec6;
}

button:hover:after {
  width: 100%;
}

.form--input {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  color: #658ec6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.form--input:focus {
  outline: 2px solid #658ec6;
  color: #658ec6;
}

.meme {
  margin-top: 30px;
  align-self: center;
  width: 600px;
  height: auto;
  position: relative;
}
.meme--image {
  width: 100%;
  border-radius: 2px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-size: 2.5em;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.HowTo {
  width: 100%;
  margin-top: 30px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 5px;
  color: #658ec6;
  text-align: center;
  padding: 40px;
  line-height: 50px;
}
.HowTo > h1 {
  font-size: 32px;
  text-transform: capitalize;
}
.HowTo > p {
  text-transform: capitalize;
  font-size: 22px;
}
.HowTo > p > span {
  font-weight: 500;
  text-decoration: 2px underline;
  text-underline-offset: 8px;
}

@media screen and (max-width: 768px) {
  .app {
    margin: 10px;
    width: 100%;
    align-self: center;
  }
  .header {
    flex-direction: column;
    height: 80px;
    padding: 12px;
  }
  .header--title {
    font-size: 22px;
  }
  .github {
    justify-content: end;
  }
  .github--image {
    width: 18px;
    margin-right: 5px;
  }
  .github--link {
    font-size: 14px;
  }

  main {
    padding: 25px;
  }

  .form {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 50px;
    row-gap: 20px;
  }
  .form--input {
    font-size: 16px;
  }

  .meme {
    margin-top: 15px;
    width: 95%;
  }

  .meme--text {
    font-size: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .app {
    margin: 40 auto;
    width: 80%;
  }
  .form {
    grid-template-columns: 1fr 1fr;
  }
  .header--title {
    font-size: 28px;
  }
  .github--image {
    width: 20px;
  }
  .github--link {
    font-size: 16px;
  }
}
